.contact-heading{
 
    font-size: 24px;
    font-family: "Roboto";
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 15px;
    padding: 5px;
    
}
.address-section{
    display: flex;
    flex-direction: row;
    align-items: center;
  
    margin-bottom: 15px;
    margin-left: 15px;
    width: 30%;
   
}
.user-details-section{
    margin-left: 20px;
}
.name-heading{
    font-size: 18px;
    font-family: "Roboto";
    margin-bottom: 5px;
}
.user-name{
    font-size: 20px;
    font-family: "Roboto";
}

@media screen and (max-width:451px) {
    .address-section{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
}